@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: black;
    color: rgb(230, 227, 227);
    min-height: 100vh;
    overflow-x: hidden;
}

/* ShopNest Scrollbar */

body::-webkit-scrollbar {
  width: 10px;
  height: 25px;
}
body::-webkit-scrollbar-track {
  background-color: #E5E3F3;
}



::-webkit-scrollbar-thumb {
  background: #f7801e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e46b08;
}






.checkout-products::-webkit-scrollbar {
  width: 5px;
}

.checkout-products::-webkit-scrollbar-track {
  background: transparent;
}

.checkout-products::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 999px;
}
